<!DOCTYPE html>
<html lang="zh-CN" xmlns:th="https://www.thymeleaf.org">

<head>
    <title th:text="${title}"></title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:replace="~{plugin:plugin-douban:modules/style}"></th:block>
</head>

<body>
<header class="metabar metabar--bordered">
    <div class="metabar--block" itemprop="publisher" itemscope="">
        <h1 class="metabar--headline" itemprop="logo" itemscope="" th:text="${title}"></h1>
    </div>
</header>
<main class="main">
    <th:block th:replace="~{plugin:plugin-douban:modules/douban}"></th:block>
</main>
<th:block th:replace="~{plugin:plugin-douban:modules/script}"></th:block>
</body>

</html>